---
import "@/styles/global.css";
import { getMovies } from "@/shared/api";

const movies = await getMovies();

// No product found
if (!movies) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

let title = `Movies ${Math.floor(Math.random() * 100)}`;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <main>
      <header>
        <div>
          <h1 class="text-2xl">Movies</h1>
        </div>
      </header>
      <main>
        <section>
          {movies.map((movie) => (
            <>
              <h2>{movie.title}</h2>
            </>
          ))}
        </section>
      </main>
    </main>
  </body>
</html>
