---
const title = `Movies ${Math.floor(Math.random() * 100)}`;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Show popular movies using the tmdb.org API."
    />
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class="bg-gray-900 antialiased">
    <section
      class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <slot></slot>
    </section>
  </body>
</html>
